@import "variables"
@import "mixins"

.jumbotron
	$jumbo-color: $white
	$jumbo-height: 100vh

	text-align: center
	height: $jumbo-height
	width: 100vw
	display: table-cell
	vertical-align: middle
	color: $jumbo-color
	position: relative
	overflow: hidden
	background-image: url("/app/images/jumbotron/flowers.jpg")
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	background-attachment: fixed

	&.mobile
		background-attachment: scroll

	&::after //add an overlay on the background image
		content: ""
		display: block
		position: absolute
		top: 0
		left: 0
		height: $jumbo-height //need this instead of right: 0 to display correctly in IE
		right: 0
		background-color: scale_color($primary, $lightness: -40%)
		z-index: 1
		opacity: .55

	h1, p, .quick-scroll //to position jumbotron elements in front of background image
		z-index: 2
		position: relative
		
	h1
		$spacing: 15px

		border-bottom: 1px solid $jumbo-color
		padding-bottom: $spacing
		margin-bottom: $spacing
		display: inline-block
		font-weight: bold
	p
		margin-top: 0px

	.quick-scroll
		$height: 80px
		$border-radius: $nav-radius
		display: block
		font-size: 35px
		line-height: $height
		color: $jumbo-color
		background-color: $secondary
		position: absolute
		bottom: 0
		height: $height
		right: 0
		width: 100%
		@include respond-to($sm-bp)
			right: $nav-right
			width: $nav-width
			border-top-right-radius: $border-radius
			border-top-left-radius: $border-radius

		i
			animation: .8s bounce infinite alternate

@keyframes bounce
	from
		transform: translateY(10px)
	to
		transform: translateY(0px)



