<nav class="navbar navbar-default" data-spy="affix" data-offset-top="{{offset}}">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div><!--havbar-header-->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav"> <!--li's contained in nav-link for scrollspy to work-->
        <nav-link goes-to="#profile" label="Profile"></nav-link>
        <nav-link goes-to="#projects" label="Projects"></nav-link>
        <nav-link goes-to="#skills" label="Skills"></nav-link>
        <nav-link goes-to="#education" label="Education"></nav-link>
        <nav-link goes-to="#work-experience" label="Work"></nav-link>
        <nav-link goes-to="#contact" label="Contact"></nav-link>
      </ul>
    </div><!--navbar-collapse-->
</nav>