<nav class="navbar navbar-default" data-spy="affix" data-offset-top="{{offset}}">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div><!--havbar-header-->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><nav-link goes-to="#profile">Profile</nav-link></li>
        <li><nav-link goes-to="#projects">Projects</nav-link></li>
        <li><nav-link goes-to="#skills">Skills</nav-link></li>
        <li><nav-link goes-to="#education">Education</nav-link></li>
        <li><nav-link goes-to="#work-experience">Work</nav-link></li>
        <li><nav-link goes-to="#contact">Contact</nav-link></li>
      </ul>
    </div><!--navbar-collapse-->
</nav>