<section-header>
  <section-title>Projects</section-title>
  <section-subtitle>
    <q>Every project is an opportunity to learn, to figure out problems and challenges, to invent and reinvent.</q>
    <cite>David Rockwell</cite>
  </section-subtitle>
</section-header>

<ul class="row projects-list">
  <li ng-repeat="project in projects" class="col-md-6 projects-list-item">
    <div class="header">
      <a ng-href="https://{{project.url}}" target="_blank">
        <img ng-src="{{project.image.src}}" alt="{{project.image.alt}}" width="900" height="600" ng-class="{'animate': !isMobile}">
      </a>
      <div class="header-text" ng-class="{'overlay': !isMobile}">
        <h3>{{project.name}}</h3>
        <p>{{project.summary}}</p>
      </div>
    </div>
    <div class="collapse" id="project{{$index}}Collapse">
      <ul class="project-description">
        <li ng-repeat="descriptor in project.description">{{descriptor}}</li>
      </ul>
      <p class="project-technologies"><strong>Technologies:</strong> {{project.technologies.join(", ")}}</p>
      <p class="project-links">
        <a ng-href="https://{{project.url}}" target="_blank">
          <i class="fa fa-external-link" aria-hidden="true"></i>
          {{project.url}}
        </a>
        <a ng-href="https://{{project.github}}" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
          {{project.github}}
        </a>
      </p>
    </div>
    <button type="button" class="collapse-btn" data-target="#project{{$index}}Collapse" aria-expanded="false" data-toggle="collapse" toggle-active-on-click>
      <span class="caret"></span>
      <span class="sr-only">Open job description</span>
    </button>
  </li>
</ul>

<p class="interactive-resume-description">
  This portfolio was created using AngularJS, Bootstrap, and Sass
  <a href="https://github.com/ShannonLCapper/ShannonLCapper.github.io" target="_blank">
    See project on GitHub
  </a>
</p>
