<h2>Contact Me</h2>
<p class="lead">Lets work together</p>
<ul class="contact-links">
  <li>
    <a href="mailto:shannonlcapper@gmail.com" target="_top">
      <i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i>
      <span class="link-text">ShannonLCapper@gmail.com</span>
    </a>
  </li>
  <li>
    <a href="tel:+1-805-231-3689">
      <i class="fa fa-phone-square fa-3x" aria-hidden="true"></i>
      <span class="link-text">(805) 231-3689</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/shannon-capper-81436a130/" target="_blank">
      <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
      <span class="link-text">linkedin.com/in/shannon-capper-81436a130</span>
    </a>
  </li>